# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  unit-tests:
    strategy:
      matrix:
        go-version: ['1.23', '1.24']
        dir: [., ./test/entrypoint]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Test
      run: go test -cover -race $(go list -f {{.Dir}} ./...)
      working-directory: ${{ matrix.dir }}

    - name: Check formatting
      run: gofmt -s -l $(go list -f {{.Dir}} ./...)
      continue-on-error: true
      working-directory: ${{ matrix.dir }}

    - name: Check old APIs
      run: go tool fix -diff $(go list -f {{.Dir}} ./...)
      continue-on-error: true
      working-directory: ${{ matrix.dir }}

  test-entrypoint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build test-entrypoint image
        uses: docker/build-push-action@v6
        with:
          file: "test/Dockerfile"
          tags: test-entrypoint:latest
          push: false
          load: true
      - name: Run test-entrypoint
        run: docker run test-entrypoint:latest
